[submodule "subprojects/emu"]
	path = subprojects/emu
	url = https://github.com/caar-machine/emu
[submodule "subprojects/bios"]
	path = subprojects/bios
	url = https://github.com/caar-machine/bios
[submodule "subprojects/as"]
	path = subprojects/as
	url = https://github.com/caar-machine/as
